body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

p {
    text-align: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    width: 33%;
}


.menu{
    width: 33%;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.search{
    width: 33%;
    display: flex;
    justify-content: end;
}

.search input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    width: 200px;
}

.search button {
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.search button:hover {
    background-color: #0056b3;
}



/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles pour le bandeau noir */
.black-banner {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Styles pour le titre */
h1, h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

 .slideshow-container {
      position: relative;
      max-width: 800px;
      margin: auto;
    }

    .slide {
      display: none;
    }

    .slide img {
      width: 100%;
      height: auto;
    }

    .prev,
    .next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 24px;
      font-weight: bold;
      padding: 10px;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }

    .prev {
      left: 0;
    }

    .next {
      right: 0;
    }

/* Styles pour les images et les descriptions */
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px; /* Ajustez la largeur maximale selon vos besoins */
    margin: 0 auto;
}

.image-box {
    flex: 1;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.image-box img {
    max-width: 100%;
    height: auto;
}

.image-box p {
    margin-top: 10px;
    font-size: 14px;
}


/* Styles pour le texte en dessous des images */
.image-box p {
    font-size: 14px;
}

/* Styles pour le pied de page */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
